<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-app="wall.demo">
    {% verbatim %}
    <div ng-controller="wallController">
        <div ng-repeat="list in data">
            <h3>{{ list.name}}</h3>
            <ul ng-repeat="thing in list.things">
                <li >{{ thing.first_thing }}</li>
                <li>{{ thing.second_thing }}</li>
            </ul>
            <input type="text" ng-model="new_entry" />{{ new_entry }}
        </div>


    </div>
    {% endverbatim %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script>
        (function(){

            'use strict';
            angular.module('wall.demo', []).controller('wallController', ['$scope',wallController]);

            function wallController($scope){
                $scope.data = [
                    {
                        name : 'Django something',
                        things : [
                            {
                                first_thing : 'lollipop',
                                second_thing : 'laptop'
                            }
                        ]
                    },
                    {
                        name: 'Angular stuff',
                        things : [
                            {
                                first_thing : 'cap',
                                second_thing: 'pen',
                            }
                        ]
                    }
                ]
            }

        }());
        //this thing right here, the parenthesis alone, makes the IIFE call or callback to call the function itself
    </script>
</body>
</html>