{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <!--CSS-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<style type="text/css">
    img {
        display: block;
        margin: auto;
        width: 50px;
        height: 100px;
    }
    h1,h2{
        text-align: center;
    }
    .row{
        margin : 0 auto;
    }
    html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }
    .card{
        border-radius: 10px;

    }

</style>
<body ng-app="wall.demo">
    <h2>Main Wall</h2>
    {% verbatim %}
    <div ng-controller="wallController">
        <div id="poster" class="row">
            <div class="col s12 m6">
              <div class="card">
                <div class="card-image">
                </div>
                <div class="card-content">
                    <h3>{{date | date:'MMMM-dd'}}</h3>
                    <input ng-model="title_entry" type="text" placeholder="Title" value=""/>
                    <input ng-model="description_entry" type="text" placeholder="What your thinking?">
                    <button ng-click="add(list,title_entry,description_entry)"class="btn waves-effect waves-light" type="submit" name="action" >Post
                        <i class="material-icons right">send</i>
                    </button>
                </div>
              </div>
            </div>
       </div>
        <div ng-repeat="list in data">
            <div ng-repeat="post in list.posts">
                <div class="row">
                    <div class="col s12 m6 ">
                      <div class="card">
                        <div class="card-image">
                          <img src="/static/wall/images/sample-1.jpg">
                          <span class="card-title">{{ post.name }} by {{ list.first_name }} {{list.last_name}}</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">*</i></a>
                        </div>
                        <div class="card-content">
                          <p>{{ post.post_description }}</p>
                            <p class="flow-text">{{post.datetime | date:'MMMM-dd'}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>

    </div>
    {% endverbatim %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="{% static "wall/wall.js" %}"></script>
</body>
</html>