{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="screen" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <!--CSS-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
</head>
<style type="text/css">
    img {
        display: block;
        margin: auto;
        width: 50px;
        height: 100px;
    }
    h1,h2{
        text-align: center;
    }
    .row{
        margin : 0 auto;
    }
    html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }
    .card{
        border-radius: 10px;

    }

</style>
<body ng-app="wall.demo">
<nav>
    <div class="nav-wrapper">
        <img src="/static/images/logo.png" class="brand-logo" style="width: 64px; height: 64px;">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>{{ main_title }}</li>
        </ul>
    </div>
  </nav>
    <img class="img-responsive img-circle" src="static/images/sample-1.jpg" style="width: 100px; height: 100px;">

    <ng-view></ng-view>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.js"></script>
    <script src="{% static "js/wall.js" %}"></script>
    <script src="{% static "js/wall.config.js" %}"></script>
    <script src="{% static "js/login.controller.js" %}"></script>
    <script src="{% static "js/register.controller.js" %}"></script>
</body>
</html>