<form ng-submit="add(first_name,username,password)">
    <div style="...">{{ register_error }}</div>
       <div>
        <label for="">First name</label>
        <input type="text" ng-model="first_name">
    </div>
    <div>
        <label for="">Username</label>
        <input type="text" ng-model="username">
    </div>
    <di>
        <label for="">Password</label>
        <input type="password" ng-model="password"/>
    </di>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
