<div>
    <h2>Main wall</h2>
</div>
<form ng-submit="add(title_entry, description_entry)">
    <div id="poster" class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
            </div>
            <div class="card-content">
                <h3>{{date | date:'MMMM-dd'}}</h3>
                <input ng-model="title_entry" type="text" placeholder="Title" value="" required/>
                <label>Description</label>
                <textarea ng-model="description_entry"  class="materialize-textarea" placeholder="What your thinking?" required></textarea>
                <button class="btn waves-effect waves-light" type="submit" >Post
                    <i class="material-icons right">send</i>
                </button>
            </div>
          </div>
        </div>
    </div>
</form>
<div ng-repeat="list in data">
    <div ng-repeat="post in list.posts">
        <div class="row">
            <div class="col s12 m6 ">
              <div class="card">
                <div class="card-image">
                  <img src="static/images/sample-1.jpg">
                  <span class="card-title">{{ post.title }} by {{ list.first_name }} {{list.last_name}}</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">*</i></a>
                </div>
                <div class="card-content">
                  <p>{{ post.post_description }}</p>
                    <p class="flow-text">{{post.datetime | date:'MMMM-dd'}}</p>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
